*{
    top: 0;
    left: 0;
    box-sizing: border-box;
}

#logo{
    height: 60px;
    width: 170px;
    padding-top: 15px;
}
/*signup form starts*/


.signup-section{
    height: auto;
    width: 100%;
}
/* .signup-content{
    left: 50%;
} */

.signup_form label{
    padding-right: 20px;
}

.signup_form h2{
    text-align: center;
    font-weight: 600;
    padding: 20px;
}

.signup_form input{
    
}
.signup-image img{
    height: 500px;
    width: 500px;
}

.alreadysignin{
    color: green;
    text-align: center;
    text-decoration: none !important;
}



/*signup form ends*/


/*product card starts*/

.card{
    margin-top: 50px;
    padding: 10px;
    box-shadow: none !important;
    border: none !important;
}

.box_card{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.1)!important;
}

.box_card img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.btn, .form-submit{
	padding: 12px 25px;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.4;
    background-color: white !important;
	color: green !important;
	margin: 0 5px;
	text-align: center;
	border: 2px solid green !important;
	letter-spacing: 0.5px;
	transition: 0.3s all;
	border-radius: 5px;

}
.btn:hover, .form-submit:hover{
	
	border: 1px solid green !important;
	color: #fff !important;
	background: green !important;
	text-decoration: none;
    border: 2px solid green !important;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3)!important;
}

/*product card ends*/